# Authorization service


## Application token

<h5>Request</h5>

```GET /api/login/app```

> Request

<%= partial "includes/examples", :locals => { :example => data.example.token.request } %>

<h5>Header of the request</h5>
Parameter's name|Parameter's description|Required
----------------|-----------------------|---------
Authorization|HTTP authorization which is set as ```<ClientID>```:```<ClientSecret>```|YES

> Response

<%= partial "includes/examples", :locals => { :example => data.example.token.response } %>

<h5>Response</h5>

Parameter's name|Parameter's description|Required
----------------|-----------------------|---------
access_token|Access token|YES

## Client token

<b>Required steps:</b>

<b>1) Redirecting Client to authorization service</b>

<%= partial "includes/examples", :locals => { :example => data.example.a_redirect_gopay.request } %>

Parameter's name|Parameter's description|
----------------|-----------------------|
scopes| perm.client.identification (scope of access)
state| Pairing identifier (is set as query parameter redirect_url)
client_id| Merchant's client identifier
redirect_uri| URL address where Client will be redirected to after make of consent

<br>

<b>2) Redirecting Client to Identity subscriber's URL</b>

<%= partial "includes/examples", :locals => { :example => data.example.b_redirect_merchant.request } %>

Parameter's name|Parameter's description|
----------------|-----------------------|
code| Authorization code for getting of access tokenu, expired in 10 minutes
state| Pairing identifier

<br>

<b>3) Getting of Client's token</b>

> Request

<%= partial "includes/examples", :locals => { :example => data.example.consent_token.request } %>

<h5>Request</h5>

```POST /api/token```

<h5>Body of request</h5>

Parameter's name|Parameter's description|Required
----------------|-----------------------|---------
authorization_code| Authorization code |YES
client_id| client_credentials| YES
client_secret| client_credentials| YES

> Response

<%= partial "includes/examples", :locals => { :example => data.example.consent_token.response } %>

<h5>Response</h5>

Parameter's name|Parameter's description| Data’s type
----------------|-----------------------|------------
accessToken| Access token, active for 1 hour|string
refreshToken| Serves for getting of new accessToken|string

## Refresh

<h5>Request</h5>

```POST /api/token```

> Request

<%= partial "includes/examples", :locals => { :example => data.example.refresh_token.request } %>

<h5>Body of request</h5>

Parameter's name|Parameter's description|Data´s type
----------------|-----------------------|---------
client_id| client_credentials|integer
client_secret| client_credentials|string
grant_type| Type of request| string
refresh_token| [Refresh token](#client-token)| string

> Response

<%= partial "includes/examples", :locals => { :example => data.example.refresh_token.response } %>

<h5>Response</h5>

Parameter's name|Parameter's description| Data’s type
----------------|-----------------------|-------------
accessToken| Access token, active for 1 hour|string
refreshToken| Serves for getting of new accessToken. CAUTION - Refresh token is changed with every single calling of refresh function.|string


## Revocation

<h5>Request</h5>

```POST /api/revoke```

> Request

<%= partial "includes/examples", :locals => { :example => data.example.revoke_token.request } %>

<h5>Body of request</h5>

Parameter's name|Parameter's description|Data’s type
----------------|-----------------------|---------
client_id| client_credentials|integer
client_secret| client_credentials|string
refresh_token| [Refresh token](#client-token)| string

<h5>Response</h5>
Parameter's name|Parameter's description
---------------|-------------------------
{}| Positive response - HTTP 200